
/* Footer */ 
footer {
    margin-bottom: 20px;
    margin: 30px 0 0 0;
    background-color: var(--grisClair);
    padding: 50px;
}

.titre_footer{
    font-weight: bold;
}

/* ORDINATEUR */ 
@media screen and (min-width: 600px) {

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
}

/* MOBILE */
@media screen and (max-width: 600px) {

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
